/* FOR MOBILES */
/*@media (max-width: 750px) {
  #TopBar #Homepage a {
    font-size: 16px !important; }

  iframe {
    width: 100% !important; }
}*/

html, body {
    padding: 0px;
    margin: 0px;
    height: calc(100% - 4px);
    font-family: "Inconsolata", monospace;
}



/*#Content {
  position: absolute;
  left: 0px;
  width: 100%;
  margin-bottom: 15px;
}*/

#Content #Title {
    height: 23px;
    line-height: 23px;
    font-size: 1.2em;
    color: white;
    width: calc(100% - 15px);
    padding-left: 15px;
    background-color: black;
}
    
#Content #Explanation {
    position: relative;
    padding: 15px;
    color: black;
    font-size: 14px;
    box-sizing: border-box;
    border: 3px solid black;
    border-top-width: 0px;
    width: 100%;
}




#theTable, button, .playToggle {
    padding: 0px;
    margin: 20px;
    height: calc(100% - 4px);
    font-family: "Inconsolata", monospace;
}



button {
    padding: 3px;
    margin: 20px;
    height: calc(100% - 4px);
    font-family: "Inconsolata", monospace;
}


.slidecontainer {
    padding: 10px;
    margin: 30px;
    height: calc(100% - 4px);
    font-family: "Inconsolata", monospace;
}



table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}




.slidecontainer {

    width: 8%;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
}




.playToggle {
    background-color: yellow;
    border: 1px solid #ccc;
    border-radius: 30%;
    width: 60px;
    height: 60px;
    -webkit-appearance: none;
    /*appearance: none;*/
    cursor: pointer;
    position: relative;
    outline: none;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.playToggle:checked {
    background-color: lightgreen;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}


